In [1]:
import pandas as pd
import xlwt 
print(f"Version Pandas : {pd.__version__}")

Version Pandas : 2.0.3

# **Fungsi dari Proses yang Dibangun**

In [2]:
# fungsi Membaca File Inputan mobil.xls 
def readFile(filename):
    file = pd.read_excel(filename)
    return file

In [3]:
# fungsi membaca input user
def readUser():
    arrOfInput = []

    # input ukuran
    ukuran = input("Masukkan Ukuran: ")
    arrOfInput.append(float(ukuran)) 

    # input kenyamanan
    kenyamanan = input("Masukkan Kenyamanan: ")
    arrOfInput.append(float(kenyamanan))  

    # input irit
    irit = input("Masukkan Irit: ")
    arrOfInput.append(float(irit))  

    # input kecepatan
    kecepatan = input("Masukkan Kecepatan: ")
    arrOfInput.append(float(kecepatan)) 

    # input harga
    harga = input("Masukkan Harga: ")
    arrOfInput.append(float(harga))

    return arrOfInput

In [28]:
def getResult(dataFrame, jarak):
    # copy data biar data asli tidak berubah
    resData = dataFrame.copy()
    
    # tambah atribut/kolom distance pada data frame
    resData["Distance"] = jarak

    # Sort dataframe by Distance    
    resData = resData.sort_values(by=["Distance"])
    
    return resData

In [29]:
# Fungsi Euclidean Distance
def euclidean(dataUser, dataMobil):
    euclidList = []

    for i in range (len(dataMobil.axes[0])):
        d = 0
        temp = 0
        
        for j in range (len(dataUser)):
            xiMinxjPow = (dataUser[j] - dataMobil.iloc[i][j + 1])**2
            temp = temp + xiMinxjPow
        
        d = temp**0.5
        euclidList.append(d)
    
    result = getResult(dataMobil, euclidList)
    return result

In [30]:
# Fungsi Manhattan Distance
def manhattan(dataUser, dataMobil):
    manhattList = []

    for i in range (len(dataMobil.axes[0])):
        d = 0
        temp = 0
        
        for j in range (len(dataUser)):
            xiMinxjAbs = abs(dataUser[j] - dataMobil.iloc[i][j + 1])
            temp = temp + xiMinxjAbs
        
        d = temp
        manhattList.append(d)
        
    result = getResult(dataMobil, manhattList)
    return result

In [31]:
# Fungsi Minkowski Distance
def minkowski(dataUser, dataMobil):
    minkowList = []
    h = 3

    for i in range (len(dataMobil.axes[0])):
        d = 0
        temp = 0
        
        for j in range (len(dataUser)):
            xiMinxjAbsPow = (abs(dataUser[j] - dataMobil.iloc[i][j + 1]))**h
            temp = temp + xiMinxjAbsPow
        
        d = temp**(1/h)
        minkowList.append(d)
    
    result = getResult(dataMobil, minkowList)
    return result

In [32]:
# Fungsi Supremum Distance
def supremum(dataUser, dataMobil):
    supremumList = []

    for i in range (len(dataMobil.axes[0])):
        d = 0
        temp = []
        
        for j in range (len(dataUser)):
            xiMinxjAbs = abs(dataUser[j] - dataMobil.iloc[i][j + 1])
            temp.append(xiMinxjAbs)
            
        d = max(temp)
        supremumList.append(d)
    
    result = getResult(dataMobil, supremumList)
    return result

In [33]:
# Fungsi Normalisasi
def normalizeData(dataMobil, dataUser):
    # Membuat dataframe user 
    dfUser = pd.DataFrame({
        "Nama Mobil" : ["User Input"],
        "Ukuran" : [dataUser[0]],
        "Kenyamanan" : [dataUser[1]],
        "Irit" : [dataUser[2]],
        "Kecepatan" : [dataUser[3]],
        "Harga" : [dataUser[4]],
    })

    # Membuat dataframe baru untuk normalisasi
    normRes = dataMobil.copy()

    # Menyatukan dataframe user input ke data frame mobil
    normRes = pd.concat([normRes, dfUser], ignore_index = True)

    # Normalisasi Data Frame
    normRes["Ukuran"] = (normRes["Ukuran"] - normRes["Ukuran"].min())/(normRes["Ukuran"].max() - normRes["Ukuran"].min())
    normRes["Kenyamanan"] = (normRes["Kenyamanan"] - normRes["Kenyamanan"].min())/(normRes["Kenyamanan"].max() - normRes["Kenyamanan"].min())
    normRes["Irit"] = (normRes["Irit"] - normRes["Irit"].min())/(normRes["Irit"].max() - normRes["Irit"].min())
    normRes["Kecepatan"] = (normRes["Kecepatan"] - normRes["Kecepatan"].min())/(normRes["Kecepatan"].max() - normRes["Kecepatan"].min())
    normRes["Harga"] = (normRes["Harga"] - normRes["Harga"].min())/(normRes["Harga"].max() - normRes["Harga"].min())
    
    return normRes

## **Main Program**

In [34]:
# Membaca File inputan(mobil.xls)
df = readFile("../data/mobil.xls")
 
# Rename Kolom Harga Mobil
df = df.rename(columns={'Harga (Ratus Juta)': 'Harga'})

print("Data Mobil Sebelum Normalisasi\n==============================")
print(df)

Data Mobil Sebelum Normalisasi
==============================
              Nama Mobil  Ukuran  Kenyamanan  Irit  Kecepatan  Harga
0            Toyota Agya       4           4     9          6   1.00
1          Daihatsu Alya       4           3     9          6   1.10
2          Toyota Avanza       6           5     6          6   2.00
3         Daihatsu Xenia       6           4     6          6   1.75
4                Xpander       7           7     6          7   2.25
5                 Livina       7           7     6          7   2.10
6                Karimun       3           4    10          5   1.20
7          Toyota Innova       8           8     5          7   4.00
8                Alphard       9          10     4          8  10.00
9            Toyota Vios       5           7     9          8   2.50
10            Honda City       5           8     7          8   2.70
11          Toyota Hiace      10           5     8          6   5.00
12       Toyota Fortuner       9           8     5          8   5.00
13           Toyota Foxy       9           9     5          7   5.50
14  Toyota Corolla Altis       5           9     7          9   6.00
15         Suzuki Ertiga       7           7     7          7   2.30
16          Suzuki Carry       7           3     9          5   0.80

In [23]:
# Membaca Inputan User
inputUser = readUser()
print("\ninput User Sebelum Normalisasi :", inputUser)

Masukkan Ukuran:  6
Masukkan Kenyamanan:  8
Masukkan Irit:  7
Masukkan Kecepatan:  9
Masukkan Harga:  8

input User Sebelum Normalisasi : [6.0, 8.0, 7.0, 9.0, 8.0]

In [35]:
# Normalisasi Data (Praprocessing Data)
 
# Melakukan normalisasi data untuk data mobil dan data user
dfNorm = normalizeData(df, inputUser)
print("Hasil Normalisasi Data dengan Metode Min Max\n=============================================")
print(dfNorm)
 
# Ambil input data user hasil Normalisasi
inputUserNorm = []
for i in range(len(inputUser)):
    inputUserNorm.append(dfNorm.iloc[len(dfNorm.axes[0]) - 1][i+1])
print("\ninput User hasil Normalisasi :", inputUserNorm)

Hasil Normalisasi Data dengan Metode Min Max
=============================================
              Nama Mobil    Ukuran  Kenyamanan      Irit  Kecepatan     Harga
0            Toyota Agya  0.142857    0.142857  0.833333       0.25  0.021739
1          Daihatsu Alya  0.142857    0.000000  0.833333       0.25  0.032609
2          Toyota Avanza  0.428571    0.285714  0.333333       0.25  0.130435
3         Daihatsu Xenia  0.428571    0.142857  0.333333       0.25  0.103261
4                Xpander  0.571429    0.571429  0.333333       0.50  0.157609
5                 Livina  0.571429    0.571429  0.333333       0.50  0.141304
6                Karimun  0.000000    0.142857  1.000000       0.00  0.043478
7          Toyota Innova  0.714286    0.714286  0.166667       0.50  0.347826
8                Alphard  0.857143    1.000000  0.000000       0.75  1.000000
9            Toyota Vios  0.285714    0.571429  0.833333       0.75  0.184783
10            Honda City  0.285714    0.714286  0.500000       0.75  0.206522
11          Toyota Hiace  1.000000    0.285714  0.666667       0.25  0.456522
12       Toyota Fortuner  0.857143    0.714286  0.166667       0.75  0.456522
13           Toyota Foxy  0.857143    0.857143  0.166667       0.50  0.510870
14  Toyota Corolla Altis  0.285714    0.857143  0.500000       1.00  0.565217
15         Suzuki Ertiga  0.571429    0.571429  0.500000       0.50  0.163043
16          Suzuki Carry  0.571429    0.000000  0.833333       0.00  0.000000
17            User Input  0.428571    0.714286  0.500000       1.00  0.782609

input User hasil Normalisasi : [0.42857142857142855, 0.7142857142857143, 0.5, 1.0, 0.782608695652174]

In [36]:
# Euclidean Distance
euclideanRes = euclidean(inputUserNorm, dfNorm)
euclideanRes

,Nama Mobil,Ukuran,Kenyamanan,Irit,Kecepatan,Harga,Distance
17,User Input,0.428571,0.714286,0.500000,1.00,0.782609,0.000000
14,Toyota Corolla Altis,0.285714,0.857143,0.500000,1.00,0.565217,0.296775
10,Honda City,0.285714,0.714286,0.500000,0.75,0.206522,0.644038
12,Toyota Fortuner,0.857143,0.714286,0.166667,0.75,0.456522,0.680894
9,Toyota Vios,0.285714,0.571429,0.833333,0.75,0.184783,0.756190
8,Alphard,0.857143,1.000000,0.000000,0.75,1.000000,0.790611
7,Toyota Innova,0.714286,0.714286,0.166667,0.50,0.347826,0.794846
13,Toyota Foxy,0.857143,0.857143,0.166667,0.50,0.510870,0.799397
15,Suzuki Ertiga,0.571429,0.571429,0.500000,0.50,0.163043,0.821387
4,Xpander,0.571429,0.571429,0.333333,0.50,0.157609,0.842151
5,Livina,0.571429,0.571429,0.333333,0.50,0.141304,0.854322
2,Toyota Avanza,0.428571,0.285714,0.333333,0.25,0.130435,1.095117
11,Toyota Hiace,1.000000,0.285714,0.666667,0.25,0.456522,1.098551
3,Daihatsu Xenia,0.428571,0.142857,0.333333,0.25,0.103261,1.174020
0,Toyota Agya,0.142857,0.142857,0.833333,0.25,0.021739,1.288680
1,Daihatsu Alya,0.142857,0.000000,0.833333,0.25,0.032609,1.352016
16,Suzuki Carry,0.571429,0.000000,0.833333,0.00,0.000000,1.501399
6,Karimun,0.000000,0.142857,1.000000,0.00,0.043478,1.518722

In [37]:
# Manhattan Distance
manhattanRes = manhattan(inputUserNorm, dfNorm)
manhattanRes

,Nama Mobil,Ukuran,Kenyamanan,Irit,Kecepatan,Harga,Distance
17,User Input,0.428571,0.714286,0.500000,1.00,0.782609,0.000000
14,Toyota Corolla Altis,0.285714,0.857143,0.500000,1.00,0.565217,0.503106
10,Honda City,0.285714,0.714286,0.500000,0.75,0.206522,0.968944
12,Toyota Fortuner,0.857143,0.714286,0.166667,0.75,0.456522,1.337992
15,Suzuki Ertiga,0.571429,0.571429,0.500000,0.50,0.163043,1.405280
9,Toyota Vios,0.285714,0.571429,0.833333,0.75,0.184783,1.466874
7,Toyota Innova,0.714286,0.714286,0.166667,0.50,0.347826,1.553830
4,Xpander,0.571429,0.571429,0.333333,0.50,0.157609,1.577381
5,Livina,0.571429,0.571429,0.333333,0.50,0.141304,1.593685
13,Toyota Foxy,0.857143,0.857143,0.166667,0.50,0.510870,1.676501
8,Alphard,0.857143,1.000000,0.000000,0.75,1.000000,1.681677
2,Toyota Avanza,0.428571,0.285714,0.333333,0.25,0.130435,1.997412
3,Daihatsu Xenia,0.428571,0.142857,0.333333,0.25,0.103261,2.167443
11,Toyota Hiace,1.000000,0.285714,0.666667,0.25,0.456522,2.242754
0,Toyota Agya,0.142857,0.142857,0.833333,0.25,0.021739,2.701346
1,Daihatsu Alya,0.142857,0.000000,0.833333,0.25,0.032609,2.833333
16,Suzuki Carry,0.571429,0.000000,0.833333,0.00,0.000000,2.973085
6,Karimun,0.000000,0.142857,1.000000,0.00,0.043478,3.239130

In [38]:
# Mainkowski Distance
minkowskiRes = minkowski(inputUserNorm, dfNorm)
minkowskiRes

,Nama Mobil,Ukuran,Kenyamanan,Irit,Kecepatan,Harga,Distance
17,User Input,0.428571,0.714286,0.500000,1.00,0.782609,0.000000
14,Toyota Corolla Altis,0.285714,0.857143,0.500000,1.00,0.565217,0.252532
12,Toyota Fortuner,0.857143,0.714286,0.166667,0.75,0.456522,0.549645
10,Honda City,0.285714,0.714286,0.500000,0.75,0.206522,0.594137
8,Alphard,0.857143,1.000000,0.000000,0.75,1.000000,0.632420
13,Toyota Foxy,0.857143,0.857143,0.166667,0.50,0.510870,0.641293
7,Toyota Innova,0.714286,0.714286,0.166667,0.50,0.347826,0.644370
9,Toyota Vios,0.285714,0.571429,0.833333,0.75,0.184783,0.648044
15,Suzuki Ertiga,0.571429,0.571429,0.500000,0.50,0.163043,0.717036
4,Xpander,0.571429,0.571429,0.333333,0.50,0.157609,0.724062
5,Livina,0.571429,0.571429,0.333333,0.50,0.141304,0.736321
11,Toyota Hiace,1.000000,0.285714,0.666667,0.25,0.456522,0.898964
2,Toyota Avanza,0.428571,0.285714,0.333333,0.25,0.130435,0.921543
3,Daihatsu Xenia,0.428571,0.142857,0.333333,0.25,0.103261,0.974917
0,Toyota Agya,0.142857,0.142857,0.833333,0.25,0.021739,1.035184
1,Daihatsu Alya,0.142857,0.000000,0.833333,0.25,0.032609,1.082518
6,Karimun,0.000000,0.142857,1.000000,0.00,0.043478,1.215111
16,Suzuki Carry,0.571429,0.000000,0.833333,0.00,0.000000,1.235013

In [39]:
# Supremum Distance
supremumRes = supremum(inputUserNorm, dfNorm)
supremumRes

,Nama Mobil,Ukuran,Kenyamanan,Irit,Kecepatan,Harga,Distance
17,User Input,0.428571,0.714286,0.500000,1.00,0.782609,0.000000
14,Toyota Corolla Altis,0.285714,0.857143,0.500000,1.00,0.565217,0.217391
12,Toyota Fortuner,0.857143,0.714286,0.166667,0.75,0.456522,0.428571
13,Toyota Foxy,0.857143,0.857143,0.166667,0.50,0.510870,0.500000
7,Toyota Innova,0.714286,0.714286,0.166667,0.50,0.347826,0.500000
8,Alphard,0.857143,1.000000,0.000000,0.75,1.000000,0.500000
10,Honda City,0.285714,0.714286,0.500000,0.75,0.206522,0.576087
9,Toyota Vios,0.285714,0.571429,0.833333,0.75,0.184783,0.597826
15,Suzuki Ertiga,0.571429,0.571429,0.500000,0.50,0.163043,0.619565
4,Xpander,0.571429,0.571429,0.333333,0.50,0.157609,0.625000
5,Livina,0.571429,0.571429,0.333333,0.50,0.141304,0.641304
11,Toyota Hiace,1.000000,0.285714,0.666667,0.25,0.456522,0.750000
3,Daihatsu Xenia,0.428571,0.142857,0.333333,0.25,0.103261,0.750000
2,Toyota Avanza,0.428571,0.285714,0.333333,0.25,0.130435,0.750000
1,Daihatsu Alya,0.142857,0.000000,0.833333,0.25,0.032609,0.750000
0,Toyota Agya,0.142857,0.142857,0.833333,0.25,0.021739,0.760870
6,Karimun,0.000000,0.142857,1.000000,0.00,0.043478,1.000000
16,Suzuki Carry,0.571429,0.000000,0.833333,0.00,0.000000,1.000000

In [40]:
# Hasil Rekomendasi 3 data teratas

print("Rekomendasi Mobil dengan Metode Euclidean Distance\n===================================================")
for i in range(3):
    print(f"{i+1}. {euclideanRes.iloc[i+1][0]} dengan Ukuran {round(df.iloc[euclideanRes.index[i+1]][1],2)}; ", end="")
    print(f"Kenyamanan {round(df.iloc[euclideanRes.index[i+1]][2],2)}; ", end="")
    print(f"Irit {round(df.iloc[euclideanRes.index[i+1]][3],2)}; ", end="")
    print(f"Kecepatan {round(df.iloc[euclideanRes.index[i+1]][4],2)}; ", end="")
    print(f"Harga {round(df.iloc[euclideanRes.index[i+1]][5]*100,2)} Juta Rp")
print()

print("Rekomendasi Mobil dengan Metode Manhattan Distance\n===================================================")
for i in range(3):
    print(f"{i+1}. {manhattanRes.iloc[i+1][0]} dengan Ukuran {round(df.iloc[manhattanRes.index[i+1]][1],2)}; ", end="")
    print(f"Kenyamanan {round(df.iloc[manhattanRes.index[i+1]][2],2)}; ", end="")
    print(f"Irit {round(df.iloc[manhattanRes.index[i+1]][3],2)}; ", end="")
    print(f"Kecepatan {round(df.iloc[manhattanRes.index[i+1]][4],2)}; ", end="")
    print(f"Harga {round(df.iloc[manhattanRes.index[i+1]][5]*100,2)} Juta Rp")
print() 

print("Rekomendasi Mobil dengan Metode Minkowski Distance\n===================================================")
for i in range(3):
    print(f"{i+1}. {minkowskiRes.iloc[i+1][0]} dengan Ukuran {round(df.iloc[minkowskiRes.index[i+1]][1],2)}; ", end="")
    print(f"Kenyamanan {round(df.iloc[minkowskiRes.index[i+1]][2],2)}; ", end="")
    print(f"Irit {round(df.iloc[minkowskiRes.index[i+1]][3],2)}; ", end="")
    print(f"Kecepatan {round(df.iloc[minkowskiRes.index[i+1]][4],2)}; ", end="")
    print(f"Harga {round(df.iloc[minkowskiRes.index[i+1]][5]*100,2)} Juta Rp")
print()

print("Rekomendasi Mobil dengan Metode Supremum Distance\n===================================================")
for i in range(3):
    print(f"{i+1}. {supremumRes.iloc[i+1][0]} dengan Ukuran {round(df.iloc[supremumRes.index[i+1]][1],2)}; ", end="")
    print(f"Kenyamanan {round(df.iloc[supremumRes.index[i+1]][2],2)}; ", end="")
    print(f"Irit {round(df.iloc[supremumRes.index[i+1]][3],2)}; ", end="")
    print(f"Kecepatan {round(df.iloc[supremumRes.index[i+1]][4],2)}; ", end="")
    print(f"Harga {round(df.iloc[supremumRes.index[i+1]][5]*100,2)} Juta Rp")

Rekomendasi Mobil dengan Metode Euclidean Distance
===================================================
1. Toyota Corolla Altis dengan Ukuran 5; Kenyamanan 9; Irit 7; Kecepatan 9; Harga 600.0 Juta Rp
2. Honda City dengan Ukuran 5; Kenyamanan 8; Irit 7; Kecepatan 8; Harga 270.0 Juta Rp
3. Toyota Fortuner dengan Ukuran 9; Kenyamanan 8; Irit 5; Kecepatan 8; Harga 500.0 Juta Rp

Rekomendasi Mobil dengan Metode Manhattan Distance
===================================================
1. Toyota Corolla Altis dengan Ukuran 5; Kenyamanan 9; Irit 7; Kecepatan 9; Harga 600.0 Juta Rp
2. Honda City dengan Ukuran 5; Kenyamanan 8; Irit 7; Kecepatan 8; Harga 270.0 Juta Rp
3. Toyota Fortuner dengan Ukuran 9; Kenyamanan 8; Irit 5; Kecepatan 8; Harga 500.0 Juta Rp

Rekomendasi Mobil dengan Metode Minkowski Distance
===================================================
1. Toyota Corolla Altis dengan Ukuran 5; Kenyamanan 9; Irit 7; Kecepatan 9; Harga 600.0 Juta Rp
2. Toyota Fortuner dengan Ukuran 9; Kenyamanan 8; Irit 5; Kecepatan 8; Harga 500.0 Juta Rp
3. Honda City dengan Ukuran 5; Kenyamanan 8; Irit 7; Kecepatan 8; Harga 270.0 Juta Rp

Rekomendasi Mobil dengan Metode Supremum Distance
===================================================
1. Toyota Corolla Altis dengan Ukuran 5; Kenyamanan 9; Irit 7; Kecepatan 9; Harga 600.0 Juta Rp
2. Toyota Fortuner dengan Ukuran 9; Kenyamanan 8; Irit 5; Kecepatan 8; Harga 500.0 Juta Rp
3. Toyota Foxy dengan Ukuran 9; Kenyamanan 9; Irit 5; Kecepatan 7; Harga 550.0 Juta Rp

In [41]:
# Output Excel Hasil Rekomendasi
wb = xlwt.Workbook()
sheet = wb.add_sheet('Output')

for i in range(3):
    sheet.write(i,0, euclideanRes.iloc[i+1][0])

wb.save('../result/rekomendasi.xls')